
#box{ /*div*/
    margin: auto;
    font-family: sans-serif;
    background-color: rgb(228, 237, 246);
    border-radius: 10px 0px 10px 10px;
    width: 20em;
    height: 30em;
    box-shadow: 5px 10px rgb(208, 206, 206);

}

#logo{
    padding-top: 0.5em;
    text-align: center;
}


#results{
    margin: auto;
    width: 17em;
    height: 20em;
    border-radius: 10px;
    box-shadow: 3px 6px rgb(208, 206, 206) ;
    background-color: white;

}

#copy{
    float: right;
    margin: 6px;
    border-radius: 5px;
    
   
}

#output{
    padding-top: 20px;
    padding-left: 10px;
}

#button_place{
    margin: auto;
    text-align: center;

}

#convert_pdf{
    
    margin-top: 1em;
    border-radius: 5px;
    background-color: rgb(165,178,172);
    color: white;
    padding: 7px 30px 5px 30px;
    border: 0px solid white;
}

#summarize_again{

    margin-top: 0.5em;
    border-radius: 5px;
    background-color: rgb(84, 213, 151);
    color: white;
    padding: 7px 30px 5px 30px;
    border: 0px solid white;
}



