
body{

    margin: auto;
    text-align: center;
    font-family: sans-serif;
    /* background-color: rgb(228, 237, 246); */
    background-color: #424549;
    /* border-radius: 10px 0px 10px 10px; */
    width: 280px;
    height: 470px;
    /* box-shadow: 5px 10px rgb(208, 206, 206); */


}





/* 800x600 pixels */

#logo{
    padding-top: 0.5em;
    color: white;
}

#sub{
    color: white;
}


#input{ /*textbox*/
width: 18em;
height: 22em;
border-radius: 5px;
resize: none;
/* box-shadow: 3px 6px rgb(208, 206, 206) ; */
}




#scan_text{
    margin-top: 1em;
    padding: 5px;
    border-radius: 5px;
    background-color: rgb(84, 136, 213);
    color: white;
    padding: 7px 30px 5px 30px;
    border: 0px solid white;


}

#scan_page{
    margin-top: 1em;
    padding: 5px;
    border-radius: 5px;
    background-color: rgb(84, 213, 151);
    color: white;
    padding: 7px 30px 5px 30px;
    border: 0px solid white;
}

