body{
    margin: auto;
    text-align: center;
    font-family: sans-serif;
    /* background-color: rgb(228, 237, 246); */
    background-color:#424549;
    border-radius: 10px 0px 10px 10px;
    width: 280px;
    min-height: 470px;
    /* box-shadow: 5px 10px rgb(208, 206, 206); */


}


#box{ /*div*/


}

.logo{
    padding-top: 0.5em;
    text-align: center;
    color: white;
}


#results{
    /* margin: auto;
    width: 17em;
    min-height: 20em;
    border-radius: 10px;
    box-shadow: 3px 6px rgb(208, 206, 206) ;
    background-color: white; */

    margin: auto;
    width: 20em;
    min-height: 26em;
    border-radius: 5px;
    background-color: white;
    /* overflow: scroll; */
    

}

#copy{
    float: right;
    margin: 6px;
    border-radius: 5px;
    
   
}

#output{
    padding-right: 15px;
    padding-left: 15px;
    font-size: small;
    font-family: 'Courier New', Courier, monospace;

}

#button_place{
    margin: auto;
    text-align: center;

}

#download_txt{
    
    margin-top: 0.5em;
    border-radius: 5px;
    background-color: rgb(165,178,172);
    color: white;
    padding: 7px 30px 5px 30px;
    border: 0px solid white;
}

#summarize_again{

    margin-top: 0.5em;
    margin-bottom: 1em;
    border-radius: 5px;
    background-color: rgb(84, 213, 151);
    color: white;
    padding: 7px 30px 5px 30px;
    border: 0px solid white;
}



